* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.rem {
  font-size: 1rem; }

.px {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, a, li, label, input, button {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0rem; }

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to right, #06308a, #052d4e); }
  .headerlogo {
    padding: 1rem;
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem; }
    .headerlogo img {
      height: 7rem;
      border-radius: 10px; }
    .headerlogo h3 {
      font-family: "Handlee", cursive;
      font-weight: 400;
      font-style: italic;
      font-size: 3rem;
      text-decoration: underline; }
  .headersubs {
    display: flex;
    gap: 3rem; }
    .headersubs a {
      color: white;
      font-size: 1rem;
      text-decoration: none;
      transition: 0.3s;
      padding: 0.3rem;
      border-radius: 10px;
      box-shadow: 8px 8px 8px white; }
      .headersubs a:hover {
        transform: scale(1.4, 1.4);
        background-color: #52c465;
        color: black;
        box-shadow: 8px 8px 8px black; }
  .headerredes {
    display: flex;
    gap: 1.5rem; }
    .headerredes a {
      color: white;
      font-size: 1.3rem;
      transition: 0.3s;
      padding: 0.7rem;
      border-radius: 10px;
      box-shadow: 3px 3px 3px white; }
      .headerredes a:hover {
        transform: scale(1.4, 1.4);
        background-color: #52c465;
        color: black;
        box-shadow: 10px 10px 10px black; }

.main {
  background-image: linear-gradient(to right, #86d886, white); }
  .main section {
    display: flex;
    gap: 0.2rem;
    justify-content: space-evenly; }
  .mainsection {
    display: flex;
    flex-direction: column; }
    .mainsectionbarra {
      background-image: linear-gradient(to right, white, #86d886);
      color: black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0.1rem;
      width: 100%; }
      .mainsectionbarra div {
        display: flex;
        gap: 2rem; }
        .mainsectionbarra div a {
          color: black;
          font-size: 1.3rem;
          transition: 0.3s; }
          .mainsectionbarra div a:hover {
            transform: scale(1.3, 1.3);
            background-color: #052d4e;
            border-radius: 10px;
            padding: 0.4rem;
            color: white; }
      .mainsectionbarra h4 {
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 1rem;
        margin-top: 0.4rem; }
    .mainsectionpresen {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem; }
      .mainsectionpresencol {
        padding: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        background-image: linear-gradient(to bottom, #06308a, #052d4e);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 50rem; }
        .mainsectionpresencol a {
          color: white;
          font-size: 1.5rem; }
      .mainsectionpresen h4 {
        color: black;
        text-align: center;
        font-family: "Handlee", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 2rem; }
      .mainsectionpresen h2 {
        color: black;
        text-align: center;
        font-family: "Handlee", cursive;
        font-weight: 600;
        font-style: normal; }
  .maintitulo {
    font-family: "Archivo Black", sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background-image: linear-gradient(to right, white, #86d886);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    color: black; }
    .maintitulo:after, .maintitulo:before {
      content: " ";
      width: 10px;
      height: 10px;
      position: absolute;
      border: 0px solid #fff;
      transition: all 1s; }
    .maintitulo:after {
      top: -1px;
      left: -1px;
      border-top: 5px solid black;
      border-left: 5px solid black; }
    .maintitulo:before {
      bottom: -1px;
      right: -1px;
      border-bottom: 5px solid black;
      border-right: 5px solid black; }
    .maintitulo:hover {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px; }
      .maintitulo:hover:before, .maintitulo:hover:after {
        width: 100%;
        height: 100%; }
  .mainimagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem; }
    .mainimagenes div {
      position: relative; }
      .mainimagenes div img {
        height: 10rem;
        width: 16rem;
        border-radius: 15px;
        box-shadow: 10px 10px 10px #052d4e; }
      .mainimagenes div h3 {
        position: absolute;
        font-size: 1rem;
        background-color: #052d4e;
        margin: 0.5rem;
        padding: 0.3rem;
        border-radius: 10px;
        transition: all .5s; }
        .mainimagenes div h3:hover {
          transform: scale(1.1, 1.1);
          background-color: white; }
        .mainimagenes div h3 a {
          color: white;
          text-decoration: none;
          transition: all .5s; }
          .mainimagenes div h3 a:hover {
            color: black; }
    .mainimagenes2 {
      display: flex;
      justify-content: space-evenly;
      padding: 1rem; }
      .mainimagenes2 div {
        position: relative; }
        .mainimagenes2 div img {
          height: 10rem;
          width: 16rem;
          border-radius: 10px;
          box-shadow: 10px 10px 10px #052d4e; }
        .mainimagenes2 div h3 {
          position: absolute;
          font-size: 1rem;
          background-color: #052d4e;
          margin: 0.5rem;
          padding: 0.3rem;
          border-radius: 10px;
          transition: all .5s; }
          .mainimagenes2 div h3:hover {
            transform: scale(1.1, 1.1);
            background-color: white; }
          .mainimagenes2 div h3 a {
            color: white;
            text-decoration: none;
            transition: all .5s; }
            .mainimagenes2 div h3 a:hover {
              color: black; }

.carru {
  width: 50rem; }
  .carruimg {
    max-height: 30rem;
    width: 100%; }
  .carruh5 {
    padding: 1rem;
    background-image: linear-gradient(to right, #06308a, #052d4e);
    font-size: 0.7rem;
    border-radius: 5px;
    width: 100%; }
  .carrup {
    color: white;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #06308a, #052d4e);
    border-radius: 1rem; }
  .carrubutton {
    background-color: #052d4e;
    padding: 1.3rem;
    color: white;
    transition: 0.3s; }
    .carrubutton:hover {
      transform: scale(1.3, 1.3); }

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-image: linear-gradient(to right, #06308a, #052d4e);
  padding: 1.5rem; }
  .footercol {
    gap: 0.5rem; }
  .footerinfo {
    gap: 0.5rem; }
  .footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white; }
    .footer div a {
      color: white;
      font-size: 1rem;
      transition: 0.3s;
      padding: 0.2rem;
      border-radius: 5px; }
      .footer div a:hover {
        transform: scale(1.5, 1.5);
        background-color: #52c465;
        color: #052d4e; }
    .footer div p {
      display: flex;
      gap: 0.3rem;
      align-items: center;
      font-family: "Handlee", cursive;
      font-weight: 400;
      font-style: normal; }
  .footercol p {
    margin-bottom: 0rem; }
  .footerinfo p {
    margin-bottom: 0rem; }
  .footerredes h4 {
    font-size: 1.4rem; }
  .footerredes div {
    display: flex;
    flex-direction: row;
    gap: 1rem; }
    .footerredes div a {
      font-size: 1.6rem; }

.act {
  background-image: linear-gradient(to right, #86d886, white);
  padding-top: 1rem; }
  .act section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem; }
  .acttitulos {
    background-image: linear-gradient(to right, #052d4e, #06308a);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .acttitulos div {
      height: 4rem;
      width: 2px;
      background-color: white; }
    .acttitulos h1 {
      font-family: "Handlee", cursive;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 0rem; }
    .acttitulos h3 {
      font-family: "Handlee", cursive;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 0rem; }

.card {
  position: relative;
  width: 15rem;
  height: 20rem; }

.card .cara {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: .5s;
  border-radius: 5px; }

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 10px 10px 10px black; }

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #052d4e;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 10px 10px 10px black; }
  .card .back h3 {
    border-bottom: 1px white solid;
    padding-bottom: 0.2rem;
    font-size: 1.2rem; }
  .card .back h4 {
    font-size: 1rem; }

.card .back .link {
  border-top: 1px solid white; }
  .card .back .link a {
    font-size: 1rem;
    margin-top: 2rem;
    color: white;
    transition: 1s; }
    .card .back .link a:hover {
      transform: scale(1.5, 1.5); }

.card:hover .front {
  transform: perspective(600px) rotateY(180deg); }

.card:hover .back {
  transform: perspective(600px) rotateY(360deg); }

.nos {
  background-image: linear-gradient(to right, #86d886, white); }
  .nosimg {
    max-height: 25rem;
    width: 100%; }
  .nos section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem; }
    .nos section div {
      background-image: linear-gradient(to right, #b2ddb2, white);
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 18rem;
      gap: 0.6rem;
      padding: 1rem;
      border: 1px solid black;
      margin: 2rem;
      border-radius: 10px; }
      .nos section div h3 {
        font-family: "Handlee", cursive;
        font-weight: 400;
        font-style: italic;
        font-size: 1.7rem; }
      .nos section div i {
        font-size: 2rem; }

@media screen and (max-width: 420px) {
  .header {
    padding: 0.5rem; }
    .headerlogo {
      padding: 0rem;
      gap: 0.1rem; }
      .headerlogo img {
        height: 2rem; }
      .headerlogo h3 {
        font-size: 1rem;
        margin-bottom: 0rem; }
    .headersubs {
      gap: 0.5rem;
      display: flex;
      justify-content: center;
      padding: 1rem; }
      .headersubs a {
        font-size: 0.5rem;
        box-shadow: 5px 5px 5px black; }
        .headersubs a:hover {
          transform: scale(1.2, 1.2);
          background-color: #52c465; }
    .headerredes {
      gap: 0.3rem;
      justify-content: center; }
      .headerredes a {
        font-size: 0.6rem;
        padding: 0.5rem;
        box-shadow: 5px 5px 5px black; }
  .main section {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem; }
  .mainsectionbarra {
    padding: 0rem; }
    .mainsectionbarra h4 {
      font-size: 0.6rem;
      margin-top: 2px;
      text-align: center; }
    .mainsectionbarra div {
      gap: 0.5rem; }
      .mainsectionbarra div a {
        font-size: 1rem; }
  .mainimagenes {
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem; }
    .mainimagenes div img {
      height: 5rem;
      width: 7rem;
      border-radius: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
    .mainimagenes div h3 {
      position: relative;
      text-align: center;
      margin: 0rem;
      padding: 0.2rem;
      font-size: 0.5rem;
      border-radius: 0px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
  .mainimagenes2 {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem; }
    .mainimagenes2 div img {
      height: 5rem;
      width: 7rem;
      border-radius: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
    .mainimagenes2 div h3 {
      position: relative;
      text-align: center;
      margin: 0rem;
      padding: 0.2rem;
      font-size: 0.5rem;
      border-radius: 0px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
  .maintitulo {
    font-size: 1rem;
    margin-top: 1rem; }
  .mainlogo {
    width: 20rem;
    width: 100%; }
  .mainsectionpresen {
    padding: 0rem;
    gap: 0rem; }
    .mainsectionpresencol {
      width: 100%;
      padding: 0.2rem;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
      .mainsectionpresencol a {
        font-size: 1rem; }
  .carru {
    width: 100%; }
    .carruimg {
      max-height: 20rem; }
    .carruh5 {
      font-size: 0.4rem; }
    .carrup {
      font-size: 0.4rem; }
    .carrubutton {
      padding: 0.2rem; }
      .carrubutton:hover {
        transform: scale(0, 0); }
  .footer {
    padding: 0.8rem; }
    .footer div img {
      height: 5rem;
      width: 5rem;
      padding: 0.2rem;
      border-radius: 10px; }
    .footercol {
      z-index: 1; }
      .footercol h5 {
        font-size: 0.7rem; }
      .footercol p {
        font-size: 0.5rem; }
    .footerimg {
      z-index: 2; }
    .footerinfo h5 {
      font-size: 0.7rem; }
    .footerinfo p {
      font-size: 0.5rem; }
    .footerredes {
      grid-area: redes;
      justify-content: center; }
      .footerredes div {
        flex-direction: row;
        gap: 0.1rem; }
        .footerredes div h4 {
          font-size: 0.6rem; }
        .footerredes div a {
          font-size: 0.8rem; }
  .act section {
    gap: 1rem; }
  .acttitulos h1 {
    font-size: 1rem;
    padding: 0.2rem; }
  .acttitulos h3 {
    font-size: 0.7rem; }
  .acttitulos div {
    height: 1rem; }
  .card {
    height: 10rem;
    width: 8rem; }
  .card .back {
    padding: 5px; }
  .card .back h3 {
    font-size: 0.7rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem; }
  .card .back h4 {
    font-size: 0.6rem;
    margin-bottom: 0rem; }
  .card .back p {
    font-size: 0.5rem;
    margin-bottom: 0rem; }
  .card .back .link a {
    font-size: 0.5rem;
    line-height: 5px;
    padding: 0.2rem; }
  .nos section {
    flex-direction: column; } }

@media screen and (max-width: 380px) {
  .headersubs {
    padding: 0.2rem;
    gap: 0.3rem; }
  .mainimagenes div img {
    height: 4.5rem;
    width: 6.5rem; }
  .mainimagenes2 div img {
    height: 4.5rem;
    width: 6.5rem; }
  .card .back .link a {
    font-size: 0.4rem; }
  .card .back {
    justify-content: space-evenly; }
  .nos section {
    flex-direction: column; }
    .nos section div {
      width: 20rem; }
  .nosimg {
    max-height: 12rem;
    min-height: 9rem; }
  .noscarru {
    padding-top: 1rem; } }
