@media screen and (max-width: 1024px) {

    // index

    .main{
        & section{
            flex-direction: column-reverse;
        }

        &imagenes{
            flex-direction: row;
            gap: 1rem;
            justify-content: center;

            & div img{
                width: 14rem;
                height: 11rem;
            }

            &2{
                justify-content: center;
                gap: 1rem ;

                & div img{
                    width: 14rem;
                    height: 11rem;
                }
            }
        }

    }
    
        .carru{
            width: 90%;
        }
    
        .mainsectionpresencol{
            width: 90%;
        }
    
    //  nosotros
    
    .nos{
        & section{
            padding: 2rem;
            & div{
                padding: 0.7rem;
            }
        }
    }

    // Actividades

    .act{

        & section{
            flex-wrap: wrap;
        }
    }

    .card{
        width: 18rem;
        height: 23rem;
        margin: 1rem;
    }
        
    }

@media screen and (max-width: 720px){

// Index

.header{
    &logo{
        & img{
            height: 5rem;
        }

        & h3{
            font-size: 2rem;
        }
    }

    &subs{
        gap: 1.5rem;
        & a{
            font-size: 0.7rem;
            box-shadow: 5px 5px 5px white;
        }
    }

    &redes{
        gap: 1rem;
        & a{
            font-size: 1rem;
            padding: 0.3rem;
        }
    }
}

.main{
    &imagenes{
        & div {
            & img{
                height: 7rem;
                width: 10rem;
            }

            & h3{
                font-size: 0.6rem;
            }
        }
        
        &2{
            & div {
                & img{
                    height: 7rem;
                    width: 10rem;
                }
    
                & h3{
                    font-size: 0.6rem;
                }
            }
        }
    }

    &sectionbarra{
        & div{
            gap: 1rem;
        }

        & h4{
            font-size: 0.8rem;
        }
    }
}

.carru{
    & img{
        height: 20rem;
    }
}

.footer{
    flex-wrap: wrap;
    & div{
        padding: 0.5rem;
    
        & h3{
            font-size: 1rem;
        }
    }

    & img{
        height: 5rem;
    }
}

//  Act

// Nos

.nos{

    & div{
        padding: 0.5rem;
    }

    & section{

        & div{
            height: 18rem;
            margin: 1rem;

            & p{
                font-size: 0.6rem;
            }
    
            & .p{
                font-size: 0.6rem;
            }

            & h3{
                font-size: 1rem;
            }
        }
    }
}

// cont

.cont{
    & section{

        & div{
            & p{
                font-size: 0.7rem;
                padding: 0.5rem;

                & i{
                    padding: 0.2rem;
                }
            }
        }

        & iframe{
            height: 20rem;
            width: 20rem;
        }

        & form{
    
            & label{
                padding: 0.5rem;
                font-size: 0.7rem;
            }
        }
    }

}

}
@media screen and (max-width: 420px){

    // Index

.header{
    padding: 0.5rem;

    &logo{
        padding: 0rem;
        gap: 0.1rem;

        & img{
            height: 2rem;
        }

        & h3{
            font-size: 1rem;
            margin-bottom: 0rem;
        }
    }

    &subs{
        gap: 0.5rem;
        display: flex;
        justify-content: center;
        padding: 1rem;

        & a{
            font-size: 0.5rem;
            box-shadow: 5px 5px 5px black;

            &:hover{
                transform: scale(1.2,1.2);
                background-color: rgb(82, 196, 101);
            }
        }
    }

    &redes{
        gap: 0.3rem;
        justify-content: center;

        & a{
            font-size: 0.6rem;
            padding: 0.5rem;
            box-shadow: 5px 5px 5px black;
        }
    }
}

.main{

    & section{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    &sectionbarra{
        padding: 0rem;

        & h4{
            font-size: 0.6rem;
            margin-top: 2px;
            text-align: center;
        }

        & div{
            gap: 0.5rem;

            & a{
                font-size: 1rem;
            }
        }
    }

    &imagenes{
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        gap: 1rem;

        & div {

            & img{
                height: 7rem;
                width: 9rem;
                border-radius: 0px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            & h3{
                position: relative;
                text-align: center;
                margin: 0rem;
                padding: 0.2rem;
                font-size: 0.7rem;
                border-radius: 0px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }

    &imagenes2{
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        gap: 1rem;


        & div {

            & img{
                height: 7rem;
                width: 9rem;
                border-radius: 0px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            & h3{
                position: relative;
                text-align: center;
                margin: 0rem;
                padding: 0.2rem;
                font-size: 0.7rem;
                border-radius: 0px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }

    &titulo{
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    &logo{
        width: 20rem;
        width: 100%;
    }

    &sectionpresen{
        padding: 0rem;
        gap: 0rem;

        &col{
            width: 100%;
            padding: 0.2rem;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            & a{
                font-size: 1rem;
            }
        }
    }
}

.footer{
    flex-direction: column;
    gap: 1.5rem;
}

.carru{
    width: 100%;

    &img{
        max-height: 15rem;
    }

    &h5{
        font-size: 0.4rem;
    }

    &p{
        font-size: 0.4rem;
    }

    &button{
        padding: 0.2rem;
        &:hover{
            transform: scale(0,0);
        }
    }
}

.footer{
    padding: 0.8rem;

    & div img{
        height: 5rem;
        width: 5rem;    
        padding: 0.2rem;
        border-radius: 10px;
    }

    &col{
        z-index: 1;
        & h5{
            font-size: 0.7rem;
        }

        & p{
            font-size: 0.5rem;
        }
    }

    &img{
        z-index: 2;
    }

    &info{
        & h5{
            font-size: 0.7rem;
        }

        & p{
            font-size: 0.5rem;
        }

    }

    &redes{
        grid-area: redes;
        justify-content: center;
        
        & div{
            flex-direction: row;
            gap: 0.1rem;

            & h4{
                font-size: 0.6rem;
            }

            & a{
                font-size: 0.8rem;
            }
        }
        
    }
}

    // Actividades

.act{
    & section{
        flex-direction: column;
        gap: 1rem;
    }

    &titulos{
        & h1{
            font-size: 1rem;
            padding: 0.2rem;
        }

        & h3{
            font-size: 0.7rem;
        }

        & div{
            height: 1rem;
        }
    }
}

.card{
    height: 20rem;
    width: 80%rem;
}

.card .back{
    padding: 5px;
}

.card .back h3{
    font-size: 1.5rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

.card .back h4{
    font-size: 1.1rem;
    margin-bottom: 0rem;
}

.card .back p{
    font-size: 0.9rem;
    margin-bottom: 0rem;
}

.card .back .link {
    & a{
        font-size: 0.8rem;
        line-height: 5px;
        padding: 0.2rem;
    }
}

// Nos

.nos{
    & section{
        flex-direction: column;

        & div{
            justify-content: space-evenly;
            height: 20rem;
            & p{
                font-size: 0.8rem;
            }

            & .p{
                font-size: 0.8rem;
            }
        }
    }

    &carru{
        width: 100%;
    }

    & div{
        padding: 0rem;

        & img{
            height: 15rem;
        }
    }
}

// contacto

.cont{
    flex-direction: column;
    & section{
        flex-direction: column-reverse;
        align-items: center;

        & p{
            padding: 0.5rem;
        }

        & form{
            background-image: linear-gradient(to bottom, rgb(134, 216, 134),white);
            border-radius: 10px;

            & button{
                border-bottom-right-radius: 10px;
                margin-bottom: 1rem;
            }

            & label{
                background-image: none;
            }

        }

        & iframe{
            width: 90%;
        }
    }
}

}

@media screen and (max-width: 380px){
    // Index

    .header{
        &subs{
            padding: 0.2rem;
            gap: 0.3rem;
        }
    }

    .mainimagenes{

        & div{
            
            & img{
                height: 4.5rem;
                width: 7rem;
            }
        }

        &2{
            & div{
                & img{
                    height: 4.5rem;
                    width: 7rem;
                }
            }
        }
    }


    // Acticidades
    
    .card .back .link a{
        font-size: 0.4rem;
    }

    .card .back{
        justify-content: space-evenly;
    }

    // nosotros

    .nos{
        & section{
            flex-direction: column;

            & div{
                width: 20rem;
            }
        }

        &img{
           max-height: 12rem;
           min-height: 9rem;
        }

        &carru{
            padding-top: 1rem;
        }
    }

}





